
#poster{
    background:url("../images/poster.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#video{
    background:url("../images/industry.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    
}

#article{
    background:url("../images/bgArticle.JPG") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.logo{
    position:relative;
    margin:10px 10px 10px 10px;
}

h1{
    margin-top: 0px;
    padding-top: 120px;
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    color:#ffffff;
    border-color: black;
    border: weight 10px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 50vh;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.navbar-article{
   color: #fff;
    
}

.navbar-poster{
    color: #fff;
}
.navbar-video{
    color: #fff;

}
.box{
    position: relative;
    width: 80 vw;
    height: auto;
    margin-top:100px;
    align-items: center;
    padding:50px;
    background:rgba(255,255,255,.5);
    box-shadow: 0 5px 15px rgba(122, 122, 122, 0.75);
    border-radius:10px;
    
}
.box h2{
    color:#451A59;
    font-family: 'Amatic SC';
    font-weight:900;
    font-size: 75px

}

.article-content{
    background:inherit;
    width : 100%;
    background:rgba(255,255,255,.75);
    margin-top:-15px;
    text-align:justify;
    padding:5px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}


.video-intro{
    position: relative;
    max-width: 80vw;
    max-height: fit-content;
    margin-top: 100px;
    align-items: center;
    padding:50px;
    background:rgba(255, 226, 226, 0.25);
    box-shadow: 0 5px 15px rgba(56, 54, 54, 0.5);
}
.poster-intro{
    position: relative;
    max-width: 60vw;
    max-height: 40vh;
    margin-top: 100px;
    align-items: center;
    padding:50px;
    background:rgba(25,25,25,.25);
    box-shadow: 0 5px 15px rgba(56, 54, 54, 0.5);

}

#poster h2{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    z-index: 100;
}

#video p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#000;
}
#article h3{
    color:#911C66;
}

#article p{
    font-size: 20px;
    font-weight: bold;
    color:#000;
    padding: 2px;
}
#figure01 {
    float: right;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

#figure02 {
    float: center;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
    padding-left:10vw;
}
#figure03 {
    float: left;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

.textwrap{
    float: left;
    margin:10px;
}

figure01 img {
    vertical-align: bottom;

}

figure02 img {
    vertical-align: bottom;
    align-items:center;

}

figure01 figcaption {
    color:#000;
    border: 1px dotted #000;
    text-align:center;
    
}
figure02 figcaption {
    color:#000;
    border: 1px dotted #000;
    text-align:center;
}

figure03 figcaption {
    color:#000;
    border: 1px dotted #000;
    text-align:center;
    
}

#content-list h4{
    text-align:left;
    color:rgb(155, 142, 142);
    padding-top:20px;
}
#section01{
    padding-top:55px;
}
#section02{
    padding-top:55px;
}
#img-credits {
    list-style-type: none;
    color:#000;
    font-size:16px;
    font-weight:bold;
}
#ref{
    color:#000;
    font-size:16px;
    font-weight:bold;
}
}