
#poster{
    background:url("../images/poster.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#video{
    background:url("../images/covid.png") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    
}

#article{
    background:url("../images/astro.png") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#article1{
    background:url("../images/recycle.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 100%;
}

#article2{
    background:url("../images/bgart2.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:100%;
}

#article3{
    background:url("../images/Bio-reactor.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:100%;
}

.logo{
    position:relative;
    margin:10px 10px 10px 10px;
}

h1{
    margin-top: 0px;
    padding-top: 120px;
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    color:#ffffff;
    border-color: black;
    border: weight 10px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 50vh;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.navbar-article{
   color: #fff;
    
}

.navbar-article1{
   color: #fff;
    
}

.navbar-poster{
    color: #fff;
}
.navbar-video{
    color: #fff;

}
.box{
    position: relative;
    width: 80 vw;
    height: auto;
    margin-top:100px;
    align-items: center;
    padding:50px;
    background:rgba(255,255,255,.5);
    box-shadow: 0 5px 15px rgba(122, 122, 122, 0.75);
    border-radius:10px;
    
}
.box h2{
    color:#451A59;
    font-family: 'Amatic SC';
    font-weight:900;
    font-size: 75px

}

.article-content{
    background:inherit;
    width : 100%;
    background:rgba(255,255,255,.75);
    margin-top:-15px;
    text-align:justify;
    padding:5px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.article1-content{
    background:inherit;
    width : 100%;
    background:rgba(255,255,255,.75);
    margin-top:-15px;
    text-align:justify;
    padding:5px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.article2-content{
    background:inherit;
    width : 100%;
    background:rgba(255,255,255,.75);
    margin-top:-15px;
    text-align:justify;
    padding:5px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.article3-content{
    background:inherit;
    width : 100%;
    background:rgba(255,255,255,.75);
    margin-top:-15px;
    text-align:justify;
    padding:5px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}



.video-intro{
    position: relative;
    max-width: 80vw;
    max-height: fit-content;
    margin-top: 100px;
    align-items: center;
    text-align:center;
    padding:50px;
    background:rgba(204,0,0,.75);
    box-shadow: 0 5px 15px rgba(56, 54, 54, 0.5);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.poster-intro{
    position: relative;
    overflow: hidden;
    max-width: 60vw;
    max-height: 40vh;
    margin-top: 100px;
    align-items: center;
    padding:50px;
    display: flex;
    box-shadow: 0 5px 15px rgba(56, 54, 54, 0.5);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.poster-intro-content{
    position: relative;
    
}

.poster-intro-bg{
    top: 0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    position: absolute;
    background: url("../images/Ocean1.jpg")no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:auto;
    width:100%;
    opacity:0.65;
}




#poster h2{
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size:40px;
    color: #6AEA43;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 100;
}

#video h2{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: #000;
    z-index: 100;
}

#video h1{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 100px;
   color:#000;
   padding-top:10px;
}

#video p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#000;
}
#article h3{
    color:#911C66;
}

#article1 h3{
    color:#911C66;
}

#article1 h2{
    color:#77EF1D;
}

#article2 h2{
    color:#450BB0;
}

#article3 h2{
    color:#C70039;
}

#article p{
    font-size: 20px;
    font-weight: bold;
    color:#000;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
}

#article1 p{
    font-size: 20px;
    font-weight: bold;
    color:#000;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
}

#article2 p{
    font-size: 20px;
    font-weight: bold;
    color:#000;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
}

#article3 p{
    font-size: 20px;
    font-weight: bold;
    color:#000;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
}

#figure01 {
    float: right;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

#figure02 {
    float: center;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

#figure1 {
    float: center;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}


#figure03 {
    float: left;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

#fig1 {
    float: center;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

#fig2 {
    float: center;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

#fig3 {
    float: center;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

#fig4 {
    float: center;
    margin: 10px 10px 10px 0;
    border: 1px solid #fff;
    margin: 1px; 
}

.textwrap{
    float: left;
    margin:10px;
}

figure01 img {
    vertical-align: bottom;

}

figure02 img {
    vertical-align: bottom;
    align-items:center;

}

figure01 figcaption {
    color:#000;
    border: 1px dotted #000;
    text-align:center;
    
}
figure02 figcaption {
    color:#000;
    border: 1px dotted #000;
    text-align:center;
}

figure03 figcaption {
    color:#000;
    border: 1px dotted #000;
    text-align:center;
    
}

#content-list h4{
    text-align:left;
    color:rgb(155, 142, 142);
    padding-top:20px;
}
#section01{
    padding-top:55px;
    padding-left:10px;
    padding-right:10px;
}
#section02{
    padding-top:55px;
    padding-left:10px;
    padding-right:10px;
}
#img-credits {
    list-style-type: none;
    color:#000;
    font-size:16px;
    font-weight:bold;
}
#ref{
    color:#000;
    font-size:16px;
    font-weight:bold;
}
.article_ad {
  max-width: 25%;
  height: 10%;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  float: left;
  color: #000;
}

.article_ad img {
  max-width: 5vw;
  max-height: auto;
  float: left;
}

#ads {
  align-items: center;
  margin-left: 120px;
}

.article_ad h4 {
  float: right;
}
#article_01 {
  max-width: 30%;
  height: 10%;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-left: 100px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  float: left;
  color: #000;
}
.space{
    height:50px;
    width:auto;
}
#covidVideo{
    margin-left:250px;
}
